#column_left{
    float: left;
    width: 20%;
}
#column_right{
    float: left;
    width: 60%;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 20px;
    font-family: monospace;
    font: lucida;
}
#heading{
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}
#topic{
    text-align: justify;
    font-size: 15px;
}
.you, .and, .world, .iable, .vari, .able{
    visibility: hidden;
}
